<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>JPA2 회원 조회</h1>
	
	<div class="nav">
		<form action="/members/search" method="get">
			회원 이름 검색: <input type="text" name="name" placeholder="회원 이름을 입력">
			<button type="submit">검색</button><P>
		</form>
	</div>
	
	<div class="nav">
		<form action="/findByListMembers" method="get">
			회원 검색 Id 큰 것: <input type="text" name="id"  placeholder="회원 ID 입력">
			회원 검색 급여 큰 것: <input type="text" name="sal" placeholder="회원 sal 입력">
			<button type="submit">검색</button><p>
		</form>
	</div>
	
	<div class="container">
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>No</th>
						<th>회원 이름</th>
						<th>팀  이름</th>
					</tr>
				</thead>
				
				<tbody>
				<tr th:each="member : ${memberList}">
					<td th:text="${member.id}"></td>
					<td><a th:href="@{/memberModifyForm(id=${member.id})}" th:text="${member.name}"></a></td>
					<td th:text="${member.team.name}"></td>
				</tr>
				</tbody>
				
			</table>
		</div>
	</div>
</body>
</html>